.idea
.vscode

*.pyc
results/
#data/
temp_data/

evdistill/
tutorials/cache
dvs_clustering_tracking/
event_utils/
ccnet/
ev-segnet/
rpg_event_representation_learning/
dvs_bownership/
Mask_RCNN/
Mask_RCNN-TF2/
mask-rcnn-rgbd/

tutorials/plots/
tutorials/frames/
src/frames/

*.gif
*.tif
#*.png
data/
src/3d_time_frames
src/3d_time_frames_flat
data/N_MNIST
data/NMNIST
logs/
temp_logs/
*.h5


src/dsait4205_ev_mask_reproduction.egg-info